spring:
  application:
    name: customer-service #alisandro
  datasource:
    url: jdbc:h2:file:./data/customerdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8081

logging:
  level:
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG